.header-section {
  border-bottom: 1px solid gray;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-logo {
  width: 40px;
}

.nav-items > li {
  padding: 10px;
}

.footer-section {
  background-color: lightgray;
  padding: 10px;
}
